.token-canvas{
    height: 100vh;
    background-color: #ddd;
}
.token-card{
    width: 96%;
    height: 39vh;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 2px 3px 12px 5px #22222222;
    font-size: 9rem;
}
.nav-title-bar {
    background-color: #333;
}
.nav-title-bar img {
    max-width: 64px;
    max-height: 64px;
    object-fit: scale-down;
}